<h1>Questions</h1>

<ul id="all_questions">
  <% @questions.each do |question| %>
    <li class="well" id="question_link_<%= question.id %>">
      <%= link_to question.option_one, question_path(question), id: "question_link"%> |
    <%= link_to question.option_two, question_path(question), id: "question_link" %>
      <%= link_to "Edit", edit_question_path(question), id: "edit_question_link", class: "btn btn-default", remote: true %> |
      <%= link_to "Delete Question", question_path(question),
                              :data => {:confirm => "Are you sure?",
                                             :method => "delete"}, remote: true  %>
    </li>
  <% end %>
</ul>

<div id="edit_show"></div>

<hr>
<%= link_to "Questions", questions_path %> |
<%= link_to "New Question", new_question_path, id: "new_question_link", class: "btn btn-default", remote: true %>
