
<% if current_user %>
<h1>Would You Rather</h1>
<ul id="all_questions">
  <% @questions.each do |question| %>
    <li class="well" id="question_link_<%= question.id %>">

      <div class="pull-right">
      <span id="edit_<%= question.id %>"><%= link_to "Edit", edit_question_path(question), id: "edit_question_link", class: "btn btn-default", remote: true %></span> |
      <%= link_to "Delete Question", question_path(question),:data => {:confirm => "Are you sure?",:method => "delete"}, remote: true  %></div>

     <% if current_user.voted_up_on? question %>
      <span class="vote-number"><%= question.get_likes.size %></span>
      <%= link_to question.option_one, {:upvote => question.id}, :class => "box highlight" %>
      <% else %>
      <span class="vote-number"><%= question.get_likes.size %></span>
      <%= link_to question.option_one, {:upvote => question.id}, :class => "box" %>
      <% end %>

      <% if current_user.voted_down_on? question %>
      <span class="vote-number"> <%= question.get_dislikes.size %></span>
      <%= link_to question.option_two, {:downvote => question.id}, :class => "box highlight" %>
      <% else %>
      <span class="vote-number"> <%= question.get_dislikes.size %></span>
      <%= link_to question.option_two, {:downvote => question.id}, :class => "box" %>
      <% end %>
    </li>
  <% end %>
</ul>

<div id="edit_show"></div>

<hr>
<%= link_to "Questions", questions_path %> |
<%= link_to "New Question", new_question_path, id: "new_question_link", class: "btn btn-default", remote: true %>
<% else %>
<h1>Log In to See the questions</h1>
<% end %>
