$('#question_link_<%= @question.id %>').remove();

$('#edit_question_<%= @question.id %>').hide()

$('#all_questions').append('<li class="well" id="question_link_<%= @question.id %>"><div class="pull-right"><%= link_to "Edit", edit_question_path(@question), id: "edit_question_link", class: "btn btn-default", remote: true %> |<%= link_to "Delete Question", question_path(@question),:data => {:confirm => "Are you sure?",:method => "delete"}, remote: true  %></div><div class="box"><%= @question.option_one %></div><div class="box"><%= @question.option_two %></div></li>')
